<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" th:src="@{/js/lib/jquery-3.5.1.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" th:src="@{/js/lib/bootstrap.min.js}"></script>

    <title>Konu Düzenle</title>

</head>
<body>
    <div class="container-fluid">
        <div class="row title-area">
            <div class="col-5 title">
                <a href="/dashboard/admin">Mentoree</a>
            </div>
            <div class="col-5 button-text text-right">
                <a href="/dashboard/admin" class="button-text">
                    <i class="material-icons md-36">supervisor_account</i>
                    Mentörlük Başvuruları
                </a>
            </div>
            <div class="col-2 button-text text-center">
                <a href="/logout" class="button-text">
                    <i class="material-icons md-36">exit_to_app</i>
                    Çıkış Yap
                </a>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-2 table-title">
                Konular:
            </div>
            <div class="col-2 table-title" style="padding-left: 6%">
                <a th:href="'#addTopicModal'" data-toggle="modal" data-target="#addTopicModal">
                    <i class="material-icons md-24">add_circle_outline</i>
                    Konu ekle
                </a>
            </div>

            <div class="modal fade" id="addTopicModal" tabindex="-1" role="dialog" aria-labelledby="addTopicModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addTopicModalLabel">Konu Ekle</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/addTopic}" th:method="post" id="addTopicForm" autocomplete="off">
                                <div class="form-group">
                                    <label for="topic-name" class="col-form-label">Konu Adı:</label>
                                    <input type="text" class="form-control" id="topic-name" name="name" required="required">
                                </div>
                                <div id="topic-name-availability"></div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" id="topic-submit" class="btn btn-modal" form="addTopicForm" value="Ekle">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2"></div>
            <div class="col-2 table-title">
                Alt Konular:
            </div>

            <div class="col-2 table-title">
                <a th:href="'#addSubtopicModal'" class="float-right" data-toggle="modal" data-target="#addSubtopicModal">
                    <i class="material-icons md-24">add_circle_outline</i>
                    Alt Konu Ekle
                </a>
            </div>

            <div class="modal fade" id="addSubtopicModal" tabindex="-1" role="dialog" aria-labelledby="addSubtopicModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addSubtopicModalLabel">Alt Konu Ekle</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/addSubtopic}" th:method="post" id="addSubtopicForm" autocomplete="off">
                                <div class="form-group">
                                    <label for="maintopics" class="col-form-label">Ana Konu:</label>
                                    <select class="custom-select" id="maintopics" name="maintopic" required="required">
                                        <option disabled selected value>Ana Konu Seçiniz</option>
                                        <option th:object="${topics}" th:each="topic: ${topics}" th:value="${topic.getId()}" th:text="${topic.getName()}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="subtopic-name" class="col-form-label">Alt Konu Adı:</label>
                                    <input type="text" class="form-control" id="subtopic-name" name="name" required="required">
                                </div>
                                <div id="subtopic-name-availability"></div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-modal" form="addSubtopicForm" value="Ekle" id="subtopic-submit">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>

        </div>

        <div class="row">
            <table id="topic-table" class="table table-hover col-4 mx-auto">
            <thead>
            <tr class="table-light">
                <th scope="col">Ana Konu Adı</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <div th:object="${topics}" th:each="topic: ${topics}">
                <tr th:id="'topic-' + ${topic.getId()}" class="table-light">
                    <td style="display:none" th:text="${topic.getId()}"></td>
                    <td th:text="${topic.getName()}"></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a id ="delete-topic">
                            <i class="material-icons md-24 md-dark">remove_circle_outline</i>
                        </a>
                    </td>
                </tr>
            </div>
            </tbody>

            </table>
        <table id = "subtopic-table" class="table table-hover col-4 mx-auto">
            <thead>
            <tr class="table-light">
                <th scope="col">Alt Konu Adı</th>
                <th scope="col">Ana Konu Adı</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <div th:object="${subtopics}" th:each="subtopic: ${subtopics}">
                <tr th:id="'subtopic-' + ${subtopic.getId()}" class="table-light">
                    <td style="display:none" th:text="${subtopic.getId()}"></td>
                    <td th:text="${subtopic.getName()}"></td>
                    <td th:text="${subtopic.getMainTopic().getName()}"></td>
                    <td>
                        <a id="delete-subtopic">
                            <i class="material-icons md-24 md-dark">remove_circle_outline</i>
                        </a>
                    </td>
                </tr>
            </div>
            </tbody>

        </table>
        </div>

        <div id = "error-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Hata</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-modal" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



</body>

</html>

<script>
    $(document).ready(function(){
        $("#topic-name").keyup(function(){
            $.ajax({
                url:"/checkTopic",
                type:"post",
                data:{ topicname:$("#topic-name").val()},
                success:function(data){
                    $("#topic-name-availability").html(data);
                }
            });
            if($("#topic-name-availability").text() !== ''){
                $("#topic-submit").prop("disabled",true);
            }
            else{
                $("#topic-submit").prop("disabled",false);
            }
        });

        $("#maintopics").change(function(){
            $.ajax({
                url:"/checkSubtopic",
                type:"post",
                data:{
                    subtopicname: $("#subtopic-name").val(),
                    topicid: $("#maintopics").val()
                },
                success:function(data){
                    $("#subtopic-name-availability").html(data);
                    if($("#subtopic-name-availability").text() !== ''){
                        $("#subtopic-submit").prop("disabled",true);
                    }
                    else{
                        $("#subtopic-submit").prop("disabled",false);
                    }
                }
            });

        });

        $("#subtopic-name").keyup(function(){
            $.ajax({
                url:"/checkSubtopic",
                type:"post",
                data:{
                    subtopicname: $("#subtopic-name").val(),
                    topicid: $("#maintopics").val()
                },
                success:function(data){
                    $("#subtopic-name-availability").html(data);
                    if($("#subtopic-name-availability").text() !== ''){
                        $("#subtopic-submit").prop("disabled",true);
                    }
                    else{
                        $("#subtopic-submit").prop("disabled",false);
                    }
                }
            });

        });
        $('.modal').on('hidden.bs.modal', function () {
            $(this).find('form')[0].reset();
        });

        $("#topic-table").on('click','#delete-topic', function(){
            var currentRow = $(this).closest("tr");
            var id = currentRow.find("td:eq(0)").text();

            $.ajax({
                url:"/deleteTopicCheck",
                type:"post",
                data:{
                    topicid: id
                },
                success:function(data){
                    if(data !== ''){
                        $("#error-modal").find(".modal-body p").text(data);
                        $("#error-modal").modal("show");
                    }
                    else{
                        $.ajax({
                            url:'/deleteTopic/'+ id,
                            type:"get",
                            success:function (data) {
                                $("#error-modal").find(".modal-body p").text("Konu başarıyla silindi.");
                                $("#error-modal").modal("show");
                                $( "#topic-table" ).load( " #topic-table > *" );
                            }
                        });
                    }

                }
            });
        });

        $("#subtopic-table").on('click','#delete-subtopic', function(e){
            var currentRow = $(this).closest("tr");
            var id = currentRow.find("td:eq(0)").text();
            $.ajax({
                url:"/deleteSubtopicCheck",
                type:"post",
                data:{
                    subtopicid: id
                },
                success:function(data){
                    if(data !== ''){
                        $("#error-modal").find(".modal-body p").text(data);
                        $("#error-modal").modal("show");
                    }
                    else{
                        $.ajax({
                            url:'/deleteSubtopic/'+ id,
                            type:"get",
                            success:function (data) {
                                $("#error-modal").find(".modal-body p").text("Alt konu başarıyla silindi.");
                                $("#error-modal").modal("show");
                                $( "#subtopic-table" ).load( " #subtopic-table > *" );
                            }
                        })
                    }

                }
            });

        });
    });
</script>

<style>
    .title-area{
        background: linear-gradient(60.64deg, #CB218E 0.01%, #5F72BE 99.98%, rgba(189, 50, 255, 0.358401) 99.99%, #6D19D8 100%);
        color: white;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    }
    .title{
        font: 60px "Roboto", sans-serif;
        font-weight: 300;
        padding: 1% 1% 1% 3.5%;
    }
    .table-title{
        font: 24px "Poppins", sans-serif;
        font-weight: 500;
        color: #4B6076;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    body{
        background: #F7F7F7;
    }
    .table{
        box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.15);
        font: 15px "Poppins", sans-serif;
        vertical-align: middle;
    }

    a{
        vertical-align: middle;
        color: #4B6076;
    }
    a:hover{
        text-decoration: none;
        color: #9AAEFF;
        cursor: pointer;
    }
    .material-icons{
        vertical-align: middle;
    }
    .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
    .material-icons:hover{
        color: #9AAEFF;
    }
    .button-text{
        font: 20px "Poppins", sans-serif;
        font-weight: 300;
        padding: 2% 1.25% 0 0;
        vertical-align: middle;
        color: white;
    }
    .btn-modal{
        background-color: #5F72BE;
        color:white;
    }
    .btn-modal:hover{
        background-color: #7291be;
        color:white;
    }
    .title a{
        text-decoration: none;
        color: white;
    }
    .title a:hover{
        text-decoration: none;
        cursor: pointer;
        color: white;
    }
</style>

